body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: $white;
    text-align: left;
    background-color: $dark;
}

.container{
    max-width: 1220px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
}

//Header

.header{
    margin-top: 20px;

    .header__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .header__logo{
            width: 200px;
            height: 55px;
            background-image: url(../../src/img/logo.svg);
            background-size: cover;
            background-position: center;
        }
    }

    .level-display{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $green;
        padding: 0;
        height: 40px;
        border-radius: 5px;

        .level-display__item{
             width: 15%;
             height: 100%;
             display: flex;
             justify-content: center;
             align-items: center;
             text-align: center;

             &:hover{
                background-color: $green-light;
                cursor: pointer;
             }
        }
    }
}

//main

//player

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark-grey;
    padding: 15px;
    border-radius: 5px;

    .player__img{
        width: 200px;
        height: 155px;
        background-image: url(../../src/img/bird.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        margin-right: 40px;
    }

    .player__display{
        flex-grow: 1;
        align-self: flex-start;

        .player__title{
            border-bottom: $light-grey 2px solid;
            font-size: 2rem;
            margin-bottom: 15px;
        }

        .player__controls{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .player__but{
                width: 40px;
                height: 40px;
                border: 2px solid $green-light;
                justify-content: center;
                border-radius: 50%;
                margin-right: 20px;
                margin-bottom: 12px;
                cursor: pointer;
                background-image: url(../../src/img/music-play.svg);
                background-size: 40px 40px;
                background-position: center;
                background-repeat: no-repeat;
            }

            .player__progress{
                flex-grow: 1;
                position: relative;

                .player__progress-line{
                    height: 3px;
                    width: 100%;
                    background-color: $light-grey;
                }

                .player__progress-checker{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $light-grey;
                }

                .player__progress-time-current{
                    position: absolute;
                    left: 0;
                    bottom: -30px;
                }

                .player__progress-time-full{
                     position: absolute;
                     right: 0;
                     bottom: -30px;
                }
            }
        }
    }
}

//birds group section

.birds-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 315px;

    .birds-choosing{
        width: 48%;
        // background-color: $dark-grey;

        .birds-choosing__item{
            height: 50px;
            padding-left: 15px;
            padding-right: 15px;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: 1px solid $grey;
            border-radius: 5px;

            .birds-group__marker{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $grey;
                margin-right: 15px;
            }
        }
    }

    .bird-description{
        width: 48%;
        height: 100%;
        background-color: $dark-grey;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 5px;
    }
}

.next-level-btn{
    background-color: $dark-grey;
    border: 1px solid $grey;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    color: $white;

    &:hover{
        cursor: pointer;
        transform: scale(1.01);
    }
}


