body {
    margin: 0;
    padding: 0;
    font-family: 'Arima Madurai', cursive;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: $white;
    text-align: left;
    background-color: $dark;
}

.container {
    position: relative;
    z-index: 10;
    max-width: 1220px;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

//Header

.header {
    margin-top: 30px;

    .header__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            width: 200px;
            height: 55px;
            background-image: url(../../src/img/logo.svg);
            background-size: cover;
            background-position: center;
        }
    }

    .score__couner {

        a {
            text-decoration: none;
            color: $white;
        }
    }

    .level-display {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba($green, 0.5);
        padding: 0;
        height: 40px;
        border-radius: 5px;

        .level-display__item {
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .level-display__item_acive {
            background-color: $green-light;
            border-radius: 5px;
        }
    }
}

//main

//player

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba($dark-grey, 0.5);
    padding: 15px;
    border-radius: 5px;

    .player__img {
        width: 200px;
        height: 155px;
        background-image: url(../../src/img/bird.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        margin-right: 40px;
    }

    .player__display {
        flex-grow: 1;
        align-self: flex-start;

        .player__title {
            border-bottom: $light-grey 2px solid;
            font-size: 2rem;
            margin-bottom: 15px;
        }

        .player__controls {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .player__but {
                width: 40px;
                height: 40px;
                border: 2px solid $green-light;
                justify-content: center;
                border-radius: 50%;
                margin-right: 20px;
                margin-bottom: 12px;
                cursor: pointer;
                background-image: url(../../src/img/music-play.svg);
                background-size: 40px 40px;
                background-position: center;
                background-repeat: no-repeat;

                &:hover {
                    transform: scale(1.06);
                }
            }

            .player__but.pause {
                background-image: url(../../src/img/music-pause.svg);
            }

            .player__progress {
                flex-grow: 1;
                position: relative;

                .player__progress-line {
                    height: 3px;
                    width: 100%;
                    background-color: $light-grey;
                    cursor: pointer;
                }

                .player__progress-checker {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $light-grey;
                    cursor: pointer;

                    &:hover {
                        background-color: $green-light;
                    }
                }

                .player__progress-time-current {
                    position: absolute;
                    left: 0;
                    bottom: -30px;
                }

                .player__progress-time-full {
                    position: absolute;
                    right: 0;
                    bottom: -30px;
                }

                .volume-container {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: -30px;
                    width: 20px;
                    z-index: 3;

                    .volume-container__button {
                        height: 26px;
                        display: flex;
                        align-items: center;

                        .volume {
                            transform: scale(0.7);
                        }
                    }

                    .volume-container__slider {
                        position: absolute;
                        left: -3px;
                        top: 5px;
                        z-index: -1;
                        width: 0;
                        height: 15px;
                        background: white;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6666666667);
                        transition: 0.25s;

                        .volume-container__percentage {
                            background: $green;
                            height: 100%;
                            width: 75%;
                            transition: all 0.25s;
                        }

                    }
                }

                .volume-container:hover .volume-container__slider {
                    left: -123px;
                    width: 120px;
                }
            }
        }
    }
}

.disabled {
    display: none;
}

//birds group section

.birds-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 315px;

    .birds-choosing {
        width: 48%;

        .birds-choosing__item {
            height: 50px;
            padding-left: 15px;
            padding-right: 15px;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: 1px solid $grey;
            border-radius: 5px;
            background: rgba($dark-grey, 0.6);
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
            }

            .birds-group__marker {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $grey;
                margin-right: 15px;
            }
        }
    }

    .bird-description {
        width: 48%;
        height: 100%;
        background: rgba($dark-grey, 0.6);
        padding: 15px;
        box-sizing: border-box;
        border-radius: 5px;
        text-align: center;
    }
}

.next-level-btn {
    background: rgba($dark-grey, 0.6);
    border: 1px solid $grey;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    color: $white;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}