.body-background {
    padding: 0;
}

.header {
    padding: 10px;
    height: 75px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    background: $orange;
    box-sizing: border-box;

    @include tablet {
        height: 140px;
    }

    .header__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            flex-direction: column;
            justify-content: center;
        }

        .header__logo {
            width: 200px;
            height: 55px;
            background-image: url(../../src/img/logo.svg);
            background-size: cover;
            background-position: center;

            &:hover {
                transform: scale(1.03);
            }
        }

        .game-link {
            font-family: 'Arima Madurai', cursive;

            &:hover {
                transform: scale(1.02);
                cursor: pointer;
            }

            a {
                text-decoration: none;
                color: $dark;
                font-size: 32px;
            }
        }
    }
}


.bird-description {
    font-family: 'Arima Madurai', cursive;
    width: 90%;
    height: 60%;
    margin: auto;
    background: rgba($dark-grey, 0.6);
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
}

.display-result {
    font-size: 32px;
}

.start-btn,
.start-page-btn {
    width: 200px;
    height: 60px;
    border: 2px solid $dark;
    border-radius: 5px;
    background: none;
    font-size: 18px;

    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: $dark;
        font-size: 32px;
    }
}

.disabled {
    display: none;
}

.body-background {
    height: 100vh;
}

.footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    background: linear-gradient(rgba(255, 168, 76, 0.6) 0%, rgba(255, 123, 13, 0.6) 100%);
    z-index: 20;
}