$font-rob-500:'Roboto Medium';
$font-rob-400:'Roboto Regular';

$white:#FFFFFF;
$black: black;
$orange: #F9804B;
$yellow: rgba(255, 238, 46, 1);
$text-black: #333B41;
$grey-light: #F1F3F2;
$grey: #BDBDBD;
$green:#4B9200;
